.photo__card {
    position: relative;
    font-size: 16px;
    margin: 30px 30px;
    height: auto;
    max-width: 400px;
    padding: 5px;
    box-shadow: 0 0 1px 1px rgb(112, 112, 112);
    border-radius: 5px;
    background-color: white;
}

.photo__card:hover {
    box-shadow: 0 0 2px 2px #B84D00;
}

.photo__img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 275px;
}

.photo__options {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.photo__card_create {
    display: inline-block;
    font-size: 3em;
    color: rgb(164, 187, 183);
    margin-right: 5px;
}

.photo__card_create:hover i {
    font-size: 3.2em;
}

.delete_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    width: fit-content;
    padding: 0 20px 10px 20px;
}

.photo__delete {
    font-size: 2.5em;
    margin-left: 5px;
    color: rgb(164, 187, 183);
}

.photo__delete:hover i {
    font-size: 2.7em;
}

.photo__heart {
    display: inline-block;
    margin-left: 10px;
    font-size: 3em;
    color: rgb(144, 37, 37);
}

.photo__heart:hover i {
    font-size: 3.2em;
}

.delete_or_cancel {
    text-align: center;
}

.delete_or_cancel button {
    font-size: 1.2em;
    margin: 0 10px;
}

.delete__modal {
    font-family: 'KoHo';
}

.delete__modal p {
    font-size: 1.4em;
}

@media only screen and (max-width: 1450px) {
    .photo__card {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1300px) {
    .photo__card {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1150px) {
    .photo__card {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) {
    .photo__card {
        font-size: 12px;
        max-width: 300px;
    }
}
