.photo__card {
    position: relative;
    margin: 30px 30px;
    height: 350px;
    padding: 5px;
    box-shadow: 0 0 2px 1px rgb(182, 182, 182);
    border-radius: 5px;
    background-color: white;
}

.photo__img {
    display: block;
    width: 400px;
    height: auto;
    max-height: 275px;
}

.photo__options {
    position: relative;
    margin-top: 15px;
    width: 100%;
}

.photo__card_create {
    display: inline-block;
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: 3rem;
    color: rgb(164, 187, 183);
}

.delete_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    width: fit-content;
    padding: 0 20px 10px 20px;
}

.photo__delete {
    font-size: 2.5rem;
    margin-left: 5px;
    color: rgb(164, 187, 183);
}

.photo__heart {
    display: inline-block;
    margin-left: 10px;
    font-size: 2rem;
    color: rgb(144, 37, 37);
    position: absolute;
}

.modal__container {
    position: absolute;
    top: 20%;
    left: 50%;
    width: fit-content !important;
    transform: translateX(-50%) !important;
}

.modal__container div {
    background-color: rgb(37, 33, 26);
}

.modal__title {
    text-align: center;
}
