.photo__card {
    position: relative;
    margin: 30px 30px;
    height: auto;
    padding: 5px;
    box-shadow: 0 0 2px 1px rgb(112, 112, 112);
    border-radius: 5px;
    background-color: white;
}

.photo__card:hover {
    box-shadow: 0 0 2px 2px gray;
}

.photo__img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 275px;
}

.photo__options {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    width: 100%;
}

.photo__card_create {
    display: inline-block;
    font-size: 3rem;
    color: rgb(164, 187, 183);
    margin-right: 5px;
}

.photo__card_create:hover i {
    font-size: 3.2rem;
}

.delete_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    width: fit-content;
    padding: 0 20px 10px 20px;
}

.photo__delete {
    font-size: 2.5rem;
    margin-left: 5px;
    color: rgb(164, 187, 183);
}

.photo__delete:hover i {
    font-size: 2.7rem;
}

.photo__heart {
    display: inline-block;
    margin-left: 10px;
    font-size: 3rem;
    color: rgb(144, 37, 37);
}

.photo__heart:hover i {
    font-size: 3.2rem;
}

.modal__container {
    position: absolute;
    top: 30%;
    left: 50%;
    width: fit-content !important;
    transform: translateX(-50%) !important;
}

.modal__container > div {
    background-color: rgb(164, 187, 183);
}

.modal__title {
    text-align: center;
}

.modal__container p {
    font-size: 1.2rem;
}

.delete_or_cancel {
    text-align: center;
}

.delete_or_cancel button {
    font-size: 1.2rem;
    margin: 0 10px;
}
