.profile__container {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.profile__container h1 {
    text-align: center;
}

.photos__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.profile__header {
    text-align: center;
}

.profile__header img {
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    right: 30px;
}

.profile__header span {
    display: inline-block;
    position: relative;
    bottom: 10px;
    right: 20px;
    font-size: 3rem;
    margin-left: 20px;
}

.follow__btn {
    display: inline-block;
    position: relative;
    bottom: 20px;
    left: 10px;
    font-size: 1.2rem;
}
