.profile__container {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.profile__container h1 {
    text-align: center;
}

.photos__container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile__header {
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__header img {
    width: 60px;
    border-radius: 50%;
}

.profile__header span {
    display: inline-block;
    font-size: 3rem;
    margin-left: 20px;
}

.follow__btn {
    display: inline-block;
    margin-left: 20px;
    font-size: 1.2rem;
}
