.splash__container {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%) translateY(-50%);
    width: fit-content;
    text-align: center;
}

.splash__message {
    font-family: 'Open Sans';
    color: #EEB559;

    /* color: rgba(222, 72, 17, 0.92); */
    text-shadow: -1px 1px 1px black,
                  1px 1px 1px black,
                  1px -1px 0 black,
                  -1px -1px 0 black;
    font-size: 3rem;
}

/* background-color: #f3f4ed;
font-family: 'KoHo';
}

i {
color: #536162; */

.page__container {
    background-image: url('../../images/splash-back.jpeg');
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.login_signup__container {
    font-family: 'Open Sans';
    color: #EEB559;
    text-shadow: -1px 1px 1px black,
                  1px 1px 1px black,
                  1px -1px 0 black,
                  -1px -1px 0 black;
    font-size: 3rem;
}

.login_signup__container li {
    display: inline;
}

.login__link, .signup__link {
    text-decoration: none;
}

.login__link:hover, .signup__link:hover {
    cursor: pointer;
    font-weight: bold;
}

.login__link:visited, .signup__link:visited {
    text-decoration: none;
    color: rgb(218, 207, 126);
}
