.profile__container {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    font-size: 16px;
}

.profile__container h1 {
    text-align: center;
}

.category_selection {
    position: relative;
    margin-bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #EDB458;
    width: fit-content;
    text-align: center;
    font-size: 1.4em;
    border: 1px solid black;
    border-radius: 5px;
}

.category_selection span {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 150px;
    padding: 15px 0;
}

.category_selection__selected {
    font-weight: bold;
    background-color: #CB8515;
}

.category_selection__left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid black;
}

.category_selection__middle {
    border-right: 1px solid black;
}

.category_selection__right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid black;
}

.photos__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
}

.photos__container > div {
    position: relative;
    left: 10%;
}

.center__container {
    width: 55vw;
    position: absolute;
    left: 20vw;
}

.left__container {
    position: absolute;
    margin-top: 30px;
    width: 300px;
    left: 10px;
    background-color: white;
    box-shadow: 0 0 2px 2px rgb(182, 182, 182);
    border-radius: 5px;
}

.right__container {
    margin-top: 30px;
    position: absolute;
    width: 300px;
    right: 10px;
    background-color: white;
    box-shadow: 0 0 2px 2px rgb(182, 182, 182);
    border-radius: 5px;
}

.follow__profile_img {
    width: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    padding-left: 5px;
}

.follow__name {
    font-size: 1.5em;
    flex-grow: 1;
    flex-shrink: 2;
    align-self: center;
    padding: 0 8px;
    flex-basis: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.follows__container, .following__container, .follower__container {
    padding: 5px;
}

.unfollow {
    flex-grow: 0;
    flex-shrink: 0;
    align-self: center;
    padding: 5px;
}

.following__container:hover, .follower__container:hover {
    background-color: #F7DEB5;
}

.following__container, .follower__container {
    display: flex;
    flex-wrap: nowrap;
}

.follower__img {
    width: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    padding-left: 5px;
}

.no_follow {
    font-size: 1.4rem;
}

.no_photo {
    text-align: center;
}

@media only screen and (max-width: 1400px) {
    .left__container, .right__container {
        width: 250px;
        font-size: 12px;
    }

    .left__container button {
        font-size: 12px !important;
        padding: 3px !important;
    }
}

@media only screen and (max-width: 1150px) {
    .photos__container {
        display: flex;
        width: fit-content;
        flex-wrap: wrap;
        justify-content: center;
    }

    .photos__container > div {
        left: 5%;
    }
}
