/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;400;600;700&display=swap');

html {
    height: 100%;
    font-size: 100%;
}

body {
    min-height: 100% !important;
    background-color: #D1D5DB !important;
    font-size: 0.75em;
}

#root {
    margin: 0;
    padding: 0;
    font-family: 'KoHo';
    box-sizing: border-box;
    /* height: 120vh; */
}

i, a {
    color: #BB4D00 !important;
}

i:hover, a:hover {
    color: #662B00 !important;
}

button {
    background-color: #EDB458 !important;
    color: #050506 !important;
    border-color: #EDB458 !important;
}

button:hover {
    background-color: #EAA434 !important;
    border-color: #EAA434 !important;
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 75%;
    }
}
