.hide_canvas {
    display: none;
}

.show_canvas {
    display: block;
}

.cropped__profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.signup_form__container {
    border-radius: 5px;
    box-shadow: 0 0 1px 1px gray;
    position: absolute;
    padding: 20px;
    width: 500px;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    background-color: white;
}

.signup_form__container label, .signup_form__container input {
    font-size: 1.2rem;
}

.signup__title {
    text-align: center;
    font-size: 3rem;
}

.redirect {
    cursor: pointer;
}

.other__options {
    text-align: center;
}

.picture__container {
    text-align: center;
}

.picture__container button {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-family: 'KoHo';
}

.redirect:hover {
    font-weight: bold;
}

.error__input {
    color: red;
    position: relative;
    left: 1%;
    font-size: 1.1rem;
}

.button__disable {
    cursor: not-allowed;
}
