.kanvas__container {
    width: 650px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    display: grid;
    grid-template-areas:
    "info header ."
    "canvas canvas canvas";
    grid-template-columns: 1fr 5fr 1fr;
    row-gap: 20px;
}

.postcard_title {
    text-align: center;
    grid-area: header;
}

.info {
    grid-area: info;
    text-align: left;
    font-size: 2.5em;
    align-self: center;
}

.instructions {
    display: none;
}

.instructions ul {
    list-style-type: none;
}

.instructions h1 {
    text-align: center;
    color: white;
}

.instructions li::before {
    content: '- ';
}

.instructions li {
    font-size: 1.5em;
    /* text-align: center; */
    color: white;
}

.info:hover ~ .instructions {
    position: absolute;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #B84D00;
    padding: 10px;
    backdrop-filter: blur(20px);
    /* background-color: rgba(209, 213, 219, 0.5); */
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    top: 6vh;
}

.kanvas {
    grid-area: canvas;
}

.kanvas__complete {

}
