.kanvas__container {
    position: relative;
    width: fit-content;
    background-color: white;
    padding: 30px 30px 10px 30px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px lightgray;
    left: 50%;
    transform: translateX(-50%);
}

.font__input {
    width: 50px;
}

.text__new_dlt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text__new_dlt button {
    display: block;
    width: 100%;
}

.text__edit textarea {
    width: 100%;
    height: 100%;
}

.text__edit {
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 75px;
    grid-column-gap: 10px;
    margin-bottom: 10px;
}

.text__edit input {
    flex-grow: 2;
}

.text__options {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.filter {
    margin-top: 5px;
    margin-bottom: 10px;
}

.filter * {
    display: inline;
}

.continue {
    margin-top: 5px;
    padding: 5px 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
