.upload__container {
    width: 60%;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.image__select {
    height: 30vh;
}

.upload__msg {
    height: 30vh;
    width: 100%;
    padding: 10vh 0;
    font-family: 'KoHo';
    font-size: 2rem;
    text-align: center;
    place-self: center;
}

.upload__msg:hover {
    cursor: pointer;
}

.image__crop {
    width: 60vw !important;
}

.modal__image_edit {
    width: 60vw !important;
    background-color: black;

}
