.postcard__card {
    position: relative;
    margin: 30px 30px;
    height: auto;
    padding: 5px;
    box-shadow: 0 0 2px 1px rgb(182, 182, 182);
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
}

.postcard__card:hover {
    box-shadow: 0 0 2px 2px gray;
}

.postcard__img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 275px;
}

.postcard__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    width: 100%;
}

.delete_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    width: fit-content;
    padding: 0 20px 10px 20px;
}

.modal__container > div {
    background-color: rgb(164, 187, 183);
}

.modal__component {
    width: 652px !important;
    background-color: white;
    position: relative;
    right: 15.5%;
}

.modal__message {
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 2px 1px rgb(202, 202, 202);
    border-radius: 5px;
    background-color: #f3f4ed;
}

.modal__delete, .modal__messages {
    font-family: 'KoHo';
}

.modal__download {
    display: inline-block;
    position: absolute;
    right: 5% !important;
}

.delete__card {
    display: block;
    font-size: 2.5em;
    margin-left: 5px;
    color: rgb(164, 187, 183);
}

.modal__delete p {
    font-size: 1.2em;
}

.delete__card:hover i {
    font-size: 2.7em;
}

.reuse {
    display: inline-block;
    padding: 5px;
    margin-right: 4px;
    font-size: 1.1em;
}

.view__msgs {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    font-size: 1.1em;
}

.modal_delete__container {
    position: absolute;
    top: 30%;
    left: 50%;
    width: fit-content !important;
    transform: translateX(-50%) !important;
}

.modal_delete__container > div {
    background-color: rgb(164, 187, 183);
}

.modal_delete__container p {
    font-size: 1.2rem;
}

.delete_or_cancel {
    text-align: center;
}

.delete_or_cancel button {
    font-size: 1.2rem;
    margin: 0 10px;
}

.modal__msg_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__msg_delete, .modal__msg_download {
    display: block;
    font-size: 2.5rem;
    margin-top: 5px;
}

.modal__msg_delete i {
    margin-left: 5px;
}

.modal__msg_download i {
    margin-right: 5px;
}

.modal__msg_delete:hover i {
    font-size: 2.7rem;
    margin-left: 3px;
}

.modal__msg_download:hover i {
    font-size: 2.7rem;
    margin-right: 3px;
}

@media only screen and (max-width: 1450px) {
    .postcard__card {
        font-size: 16px;
    }

    .postcard__options {
        margin-top: 0;
    }

    .postcard__options button {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 1300px) {
    .postcard__card {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1250px) {
    .postcard__card {
        font-size: 12px;
    }

    .postcard__options {
        margin-top: 0;
    }

    .postcard__options button {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 1150px) {
    .postcard__card {
        font-size: 16px;
        max-width: 400px;
        justify-self: center !important;
    }

    .postcard__options {
        margin-top: 0;
    }

    .postcard__options button {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 650px) {
    .postcard__card {
        font-size: 12px;
        max-width: 300px;
    }

    .postcard__options button {
        font-size: 12px !important;
        padding: 3px 6px !important;
    }
}

@media only screen and (max-width: 500px) {
    .postcard__card {
        font-size: 8px;
        max-width: 300px;
    }

    .postcard__options button {
        font-size: 8px !important;
        padding: 2px 4px !important;
    }
}
