.postcard__card {
    position: relative;
    margin: 30px 30px;
    height: 350px;
    padding: 5px;
    box-shadow: 0 0 2px 1px rgb(182, 182, 182);
    border-radius: 5px;
    background-color: white;
}

.postcard__img {
    display: block;
    width: 400px;
    height: auto;
    max-height: 275px;
}

.postcard__options {
    position: relative;
    margin-top: 15px;
    width: 100%;
}

/* .photo__card_create {
    display: inline-block;
    position: absolute;
    right: 5px;
    font-size: 3rem;
} */

.delete_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    width: fit-content;
    padding: 0 20px 10px 20px;
}

.modal__container {
    position: absolute;
    top: 10%;
    left: 50%;
    width: fit-content !important;
    transform: translateX(-50%) !important;
}

.modal__container > div {
    background-color: rgb(164, 187, 183);
}

.modal__title {
    text-align: center;
}

.modal__close {
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 5%;
}

.modal__message {
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 2px 1px rgb(202, 202, 202);
    border-radius: 5px;
    background-color: #f3f4ed;
}

.modal__delete, .modal__download {
    font-size: 2rem;
    color: rgb(164, 187, 183);
    cursor: pointer;
}

.modal__download {
    display: inline-block;
    position: absolute;
    right: 5% !important;
}

.delete__card {
    font-size: 2.5rem;
    margin-left: 5px;
    color: rgb(164, 187, 183);
}

.reuse {
    display: inline-block;
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 5px;
    font-size: 1.1rem;
    top: 25%;
    background-color: white;
}

.view__msgs {
    display: inline-block;
    position: absolute;
    right: 5%;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.1rem;
    top: 25%;
    background-color: white;
}
