.photo__card {
    position: relative;
    margin: 30px 30px;
    height: 350px;
    padding: 5px;
    box-shadow: 0 0 2px 1px rgb(182, 182, 182);
    border-radius: 5px;
}

.photo__img {
    display: block;
    width: 400px;
    height: auto;
    max-height: 275px;
}

.photo__options {
    position: relative;
    margin-top: 15px;
    width: 100%;
}

.photo__user_profile {
    margin-left: 5px;
    border-radius: 50%;
    width: 50px;
}

.photo__card_create {
    display: inline-block;
    position: absolute;
    right: 5px;
    font-size: 3rem;
}
