.navbar {
    background-color: lightblue;
    border-bottom: 1px solid black;
    padding-top: 10px;
}

ul {
    padding: 0;
}

.navbar__container {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__container li {
    width: 30%;
}

.navbar__welcome {
    padding-left: 10px;
    text-align: left;
}

.navbar__welcome h1 {
    font-size: 2rem;
}

.navbar__container > li {
    text-decoration: none;
}

.navbar__main {
    font-size: 2rem;
    text-align: center;
}

.logo {
    display: inline-block;
    position: relative;
    transform: translateY(-10%);
    margin-right: 5px;
    width: 40px;
}

.navbar__main span {
    margin-left: 5px;
}

.navbar__main a, .navbar__main a:hover {
    text-decoration: none;
}

.navbar__name {
    text-decoration: none;
}

.navbar__name:visited {
    color: black;
}


.navbar__right {
    text-align: right;
}

.upload__icon {
    display: inline-block;
    position: relative;
    transform: translateY(16%);
}

.upload__icon i {
    font-size: 2.4rem;
    margin-right: 20px;

}
.profile__icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    transform: translateY(-10%);
    box-shadow: 0 0 2px 2px gray;
}

.profile__dropdown {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    width: fit-content;
    box-shadow: 0 0 1px 1px rgb(179, 179, 179);
    z-index: 10;
    right: 25px;
    top: 75px;
    list-style-type: none;
}

.profile__dropdown li {
    text-align: center;
    width: 120px;
    margin: 0;
    padding: 5px 10px;
    font-size: 1.3rem;
}

.profile__dropdown li:hover {
    cursor: pointer;
    background-color: rgb(164, 187, 183);

}

.modal__container {
    position: absolute;
    top: 0%;
    left: 99%;
    width: fit-content !important;
    transform: translateX(-50%) !important;
}
