.navbar {
    background-color: #F3F4F7;
    border-bottom: 1px solid black;
    padding-top: 10px;
    font-size: 16px;
}

ul {
    padding: 0;
}

.navbar__container {
    list-style-type: none;
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: 2.5fr 1.5fr 2fr 4fr;
    align-items: center;
}

.username__search {
    font-size: 1.4em;
}

.navbar__welcome {
    padding-left: 10px;
    text-align: left;
}

.navbar__welcome h1 {
    font-size: 1.6em;
}

.navbar__container > li {
    text-decoration: none;
}

.navbar__main {
    font-size: 2em;
    text-align: center;
}

.logo {
    display: inline-block;
    position: relative;
    transform: translateY(-10%);
    margin-right: 5px;
    width: 40px;
}

.navbar__main span {
    margin-left: 5px;
}

.navbar__main a, .navbar__main a:hover {
    text-decoration: none;
}

.navbar__name {
    text-decoration: none;
}

.navbar__name:visited {
    color: black;
}


.navbar__right {
    text-align: right;
}

.upload__icon {
    display: inline-block;
    position: relative;
    transform: translateY(16%);
}

.upload__icon i {
    font-size: 2.4em;
    margin-right: 20px;
}

.upload__icon:hover i {
    color: black;
    cursor: pointer;
}

.profile__icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    transform: translateY(-10%);
    box-shadow: 0 0 2px 2px gray;
}

.profile__icon:hover {
    box-shadow: 0 0 2px 2px #662B00;
}

.profile__dropdown {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    width: fit-content;
    box-shadow: 0 0 1px 1px rgb(179, 179, 179);
    z-index: 10;
    right: 1vw;
    top: 6vh;
    list-style-type: none;
}

.profile__dropdown li {
    text-align: center;
    width: 120px;
    margin: 0;
    padding: 5px 10px;
    font-size: 1.3em;
}

.profile__dropdown li:hover {
    cursor: pointer;
    background-color: #EDB458;
}

.modal__container {
    position: absolute;
    top: 0%;
    left: 99%;
    width: fit-content !important;
    transform: translateX(-50%) !important;
}

.search__results {
    position: absolute;
    z-index: 1000;
    background-color: white;
    width: 200px;
    box-shadow: 0 0 2px 2px gray;
}

.search__results li, .search__results span {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    padding: 3px 5px;
}

.search__results li:hover {
    cursor: pointer;
}

.search__results li:hover {
    background-color: #EEB559;
}

.search__hide {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .navbar__welcome {
        display: none;
    }

    .navbar__container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .username__search {
        margin-left: 10px;
    }

    .search__results {
        left: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .site__name {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .navbar {
        font-size: 12px;
    }

    .logo {
        width: 30px;
    }

    .profile__icon {
        width: 30px;
        height: 30px;
    }

    .search__results {
        width: 155px;
    }
}

@media only screen and (max-width: 400px) {
    .profile__icon {
        margin-right: 10px;
    }

    .upload__icon i {
        margin-right: 10px;
    }
}
